* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fs-h1: 1.8em;
    --fs-h3: 1em;
    --clr-light: rgb(245, 241, 241);
} 

@media (min-width:800px){
    :root {
        --fs-h1: 3em;
        --fs-h3: 1.2em;
    }

    .gameSection {
        display: flex;
    }

    .gameSection-player, .gameSection-computer {
        width: 50%;
    }
}

body {
    background: linear-gradient(217deg, rgba(6, 138, 226, 0.8), rgba(0, 255, 255, 0) 70.71%),
                linear-gradient(127deg, rgba(0, 255, 128, 0.8), rgba(0, 255, 234, 0) 70.71%),
                linear-gradient(336deg, rgba(0, 255, 255, 0.8), rgba(0,0,255,0) 70.71%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    text-shadow: rgb(0, 0, 0) 3px 3px 3px;
}

.game {
    max-width: 150vh;
    width: 90%;
    height: fit-content;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roundCounter {
    display: flex;
    margin: 2em;
}

.roundCounter .text {
    margin-right: 0.5rem;
}

.roundCounter h1 {
    font-size: var(--fs-h1);
    color: var(--clr-light);
    letter-spacing: 1.5px;
}

.gameSection {
    width: 100%;
    height: fit-content;
}

.gameSection-player, .gameSection-computer {
    width: 100%;
    height: fit-content;
}

.scores {
    margin-bottom: 1.5em ;
    width: 100%;
    height: fit-content;
    color: var(--clr-light);
}

.playerScore, .computerScore {
    text-align: center;
    font-size: var(--fs-h3);
}

.playerScoreText, .computerScoreText {
    padding: 0.6rem;
    font-size: var(--fs-h3);
}

.buttonSection, .computerSelection{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
}

.buttonSection .button, .computerChoice {
    max-width: 100px;
    width: 35%;
    margin: 1rem;
    height: 100px;
    cursor: pointer;
    transition: ease-in-out 250ms;
}

.computerChoice {
    background-image: url(img/loading.gif);
    background-size: 100% 100%;
}

.buttonSection .button:hover {
    transform: scale(1.05);
}

#rock {
    background-image: url(img/rock.png);
    background-size: 100% 100%;
}

#paper {
    background-image: url(img/paper.png);
    background-size: 100% 100%;
}

#sissor {
    background-image: url(img/sissor.png);
    background-size: 100% 100%;
}

.selectionText {
    text-align: center;
    width: 95;
    color: var(--clr-light);
    border-bottom: 5px var(--clr-light) solid;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;

}

.selectionText p {
    padding: .25rem ;
    letter-spacing: 2px;
}

.temporaryResults {
    color: var(--clr-light);
    margin: .25em;
    letter-spacing: 2px;
    display: none;
    font-size: 2em;
    font-weight: bold;
}

@media (max-width:400px){
    .game {
        width: 90%;
        margin: 0 auto;
    }

    .roundCounter {
        margin: .5em;
    }

    .scores {
        margin-bottom: 0 ;
    }

    .buttonSection .button, .computerChoice {
        margin-top: 0;
    }
    
}
