* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fs-h1: 1.8em;
    --fs-h3: 1em;
    --clr-light: rgb(245, 241, 241);
    --bg-img: linear-gradient(217deg, rgba(12, 59, 90, 0.8), rgba(0, 255, 255, 0) 70.71%),
    linear-gradient(127deg, rgba(27, 105, 66, 0.8), rgba(0, 255, 234, 0) 70.71%),
    linear-gradient(336deg, rgba(28, 116, 116, 0.8), rgba(0,0,255,0) 70.71%);
} 

@media (min-width:800px){
    :root {
        --fs-h1: 3em;
        --fs-h3: 1.2em;
    }

    .gameSection {
        display: flex;
    }

    .gameSection-player, .gameSection-computer {
        width: 50%;
    }
}

body {
    background: linear-gradient(217deg, rgba(6, 138, 226, 0.8), rgba(0, 255, 255, 0) 70.71%),
                linear-gradient(127deg, rgba(0, 255, 128, 0.8), rgba(0, 255, 234, 0) 70.71%),
                linear-gradient(336deg, rgba(0, 255, 255, 0.8), rgba(0,0,255,0) 70.71%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    text-shadow: rgb(0, 0, 0) 3px 3px 3px;
    position: relative;
}

.game {
    max-width: 150vh;
    width: 90%;
    height: fit-content;
    margin: 2em auto;
    display: none;
    flex-direction: column;
    align-items: center;
}

.opacity {
    opacity: 0.05;
}

.roundCounter {
    display: flex;
    margin: 2em;
}

.roundCounter .text {
    margin-right: 0.5rem;
}

.roundCounter h1 {
    font-size: var(--fs-h1);
    color: var(--clr-light);
    letter-spacing: 1.5px;
}

.gameSection {
    width: 100%;
    height: fit-content;
}

.gameSection-player, .gameSection-computer {
    width: 100%;
    height: fit-content;
}

.scores {
    margin-bottom: 1.5em ;
    width: 100%;
    height: fit-content;
    color: var(--clr-light);
}

.playerScore, .computerScore {
    text-align: center;
    font-size: var(--fs-h3);
}

.playerScoreText, .computerScoreText {
    padding: 0.6rem;
    font-size: var(--fs-h3);
}

.checked {
    color: orange;
  }

.buttonSection, .computerSelection{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
}

.buttonSection .button, .computerChoice {
    max-width: 100px;
    width: 35%;
    margin: 1rem;
    height: 100px;
    cursor: pointer;
    transition: ease-in-out 250ms;
}

.computerChoice {
    background-image: url(img/loading.gif);
    background-size: 100% 100%;
}

.buttonSection .button:hover {
    transform: scale(1.05);
}

#rock {
    background-image: url(img/rock.png);
    background-size: 100% 100%;
}

#paper {
    background-image: url(img/paper.png);
    background-size: 100% 100%;
}

#sissor {
    background-image: url(img/sissor.png);
    background-size: 100% 100%;
}

.selectionText {
    text-align: center;
    width: 95;
    color: var(--clr-light);
    border-bottom: 5px var(--clr-light) solid;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;

}

.winGlow {
    border-bottom: 5px rgba(47, 209, 47, 0.788) solid;
    color: rgba(47, 209, 47, 0.795) solid;
}

.lossGlow {
    border-bottom: 5px rgba(250, 0, 0, 0.767) solid;
    color: rgba(255, 0, 0, 0.76);
}

.selectionText p {
    padding: .25rem ;
    letter-spacing: 2px;
}

.temporaryResults {
    color: var(--clr-light);
    margin: .25em;
    letter-spacing: 2px;
    display: none;
    font-size: 2em;
    font-weight: bold;
}

.startDiv {
    max-width: 100vh;
    width: 90%;
    min-height: 28em;
    height: fit-content;
    margin: 2em auto;
    padding: .25em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--clr-light);
    position: relative;
    transition: 500ms ease-in-out;
    display: flex;

}

.startDiv .imageContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.startDiv h1 {
    font-size: var(--fs-h1);
    margin: 1em;
}
.startDiv .textDiv {
    width: 100%;
    min-height: 100px;
    height: fit-content;
    position: relative;
}

.startDiv .textDiv .textDiv_1 {
    width: 50%;
    min-height: 100px;
    height: fit-content;
    text-align: left;
    padding: .5em;
}

.startDiv .textDiv .textDiv_2 {
    width: 50%;
    min-height: 100px;
    height: fit-content;
    position: absolute;
    right: 0;
}

.startDiv button {
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--bg-img);
    color: white;
    font-size: 1.25em;
    border-radius: 5px;
    border: 2px white solid;
    cursor: pointer;
    box-shadow: 1.25em 1.25em 1.75em rgba(0,0,0,.25),
    1.125em 1.125em 1.25em rgba(0,0,0,.15);;
    transition: ease-in-out 0.25s;
}

.startDiv button:hover {
    transform: scale(1.05);
}

#intro_header, #intro_header_2 {
    font-size: 1.5em;
}

.gameOverSec {
    max-width: 500px;
    width: 90%;
    min-height: 100px;
    height: fit-content;
    margin: 1.5em auto;
    color: var(--clr-light);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.gameOverSec h1 {
    padding: .5em;
    font-size: 1.8em;
}

.gameOverSec .finalScore {
    display: flex;
    font-size: 3.5em;
    justify-content: space-evenly;
    width:150px ;
    font-weight: bolder;
}

.gameOverSec #playAgain, #home{
    width: 225px;
    height: fit-content;
    background: var(--bg-img);
    color: white;
    font-size: 1.25em;
    border-radius: 5px;
    border: 2px white solid;
    cursor: pointer;
    box-shadow: 1.25em 1.25em 1.75em rgba(0,0,0,.25),
    1.125em 1.125em 1.25em rgba(0,0,0,.15);;
    transition: ease-in-out 0.25s;
    padding: 5px;
    margin: .5em;
}

.gameOverSec #playAgain:hover, #home:hover {
    transform: scale(1.05);
}

.gameOverSec .sociaMediaButtons{
    margin: 1.5em;
}

.gameOverSec .sociaMediaButtons button {
    width: 95px;
    border: none;
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    transition: ease-in-out 250ms;
}

.gameOverSec .sociaMediaButtons button:hover {
    transform: scale(1.05);
}

.gameOverSec .sociaMediaButtons #linkedin {
    background: rgb(58, 58, 238);
}

.gameOverSec .sociaMediaButtons #twitter {
    background: rgb(58, 142, 238);
}
.gameOverSec .sociaMediaButtons button {
    color: white;
}
.gameOverSec .sociaMediaButtons button a {
    text-decoration: none;
    color: white;
    margin: 0 2px;
}

button:active {
    transform: scale(0.95);
}

@media (max-width:600px){
    .startDiv .textDiv .textDiv_1{
        width: 80%;
    }

    .startDiv .textDiv .textDiv_2{
        width: 80%;
    }
}


@media (max-width:400px){
    .game {
        width: 90%;
        margin: 0 auto;
    }

    .roundCounter {
        margin: .5em;
    }

    .scores {
        margin-bottom: 0 ;
    }

    .buttonSection .button, .computerChoice {
        margin-top: 0;
    }

    #intro_header, #intro_header_2 {
        font-size: 1.35em;
    }
    
}
